<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BugTracker</title>
    <script>
      document.onreadystatechange = () => {
        if (document.readyState === "interactive") {
          document.getElementById("userAgent").value =
            window.navigator.userAgent;
          document.getElementById("userDate").value = new Date();
          console.log(window.navigator.userAgent);
          console.log("hora", new Date());
        }
      };
    </script>
  </head>
  <body>
    <div class="navbar navbar-light bg-light">
      <a href="#" class="navbar-brand">BugTracker</a>
    </div>
    <div class="container">
      <div class="alert alert-danger">
        Houve um problema ao reportar seu BUG.
        <a href="/">Voltar para tentar novamente.</a>
      </div>
    </div>
  </body>
</html>
